// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
    padding-top: 65px;
}
h3{
    font-size:1.1rem;
    color: #8a8a8a;
}
.message-url-wrapper, .well{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
#create-messsage-form{


    p.error{
        &.hidden{
            display:none;
        }

        color: red;
        width: 400px;
        word-wrap: break-word;
    }
}
